<ion-view view-title="工时填报">
  <ion-nav-bar class="bar bar-dark">
  	<ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="$state.go('page15')">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="submit()">
          提交
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
	<ion-content>
    <div class="list list-inset">
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
        </span>
        <input type="text" placeholder="黎明" style="padding-left: 3em"
        ng-model="workHours.name" readonly="readonly">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder1">
        <span class="input-label fz20 bold">
        工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号
        </span>
        <input type="text" placeholder="6602220" style="padding-left: 3em" 
        ng-model="workHours.ID" readonly="readonly">
      </label>
      <!-- <label class="item item-input noBorder btmBorder2" ng-click="selectTime()">
        <span class="input-label fz20 bold">
        日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期
        </span>
        <input type="text" placeholder="2016年5月3日" style="padding-left: 3em" 
        ng-model="workHours.startDate"> submitData.createDate-->
      <label class="item item-input noBorder btmBorder1">
        <span class="input-label fz20 bold">
        日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期
        </span>
        <input type="text" placeholder="2016年5月3日" style="padding-left: 3em" 
        ng-model="submitData.createDate" ng-click="selectTime()">
        
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        工时类型
        </span>
        <input type="text" placeholder="出差" style="padding-left: 3em" 
        ng-model="workHours.type">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        工时数量
        </span>
        <input type="text" placeholder="8小时" style="padding-left: 3em" 
        ng-model="workHours.total">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        工时内容
        </span>
        <input type="text" placeholder="清洁" style="padding-left: 3em"
        ng-model="workHours.content">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态
        </span>
        <input type="text" placeholder="审核中" style="padding-left: 3em"
        ng-model="workHours.status">
      </label>
    </div>

      <!-- <div class="list padding-left padding-right">
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          姓<span style="margin-left: 2em">名</span>
          </div>
          <div class="col col-50 text-center color93">{{workHours.name}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工<span style="margin-left: 2em">号</span>
          </div>
          <div class="col col-50 text-center color93">{{workHours.ID}}</div>
          <div class="col col-20 text-right"></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          日<span style="margin-left: 2em">期</span>
          </div>
          <div class="col col-50 text-center color93">{{workHours.startDate}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工时类型
          </div>
          <div class="col col-50 text-center color93">{{workHours.type}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工时数量
          </div>
          <div class="col col-50 text-center color93">{{workHours.total}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工时内容
          </div>
          <div class="col col-50 text-center color93">{{workHours.content}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder" style="line-height: 2.7em;border-bottom: 2px solid #ebebeb">
          <div class="col col-30 text-justify fz20 bold">
          状<span style="margin-left: 2em">态</span>
          </div>
          <div class="col col-50 text-center color93">{{workHours.status}}</div>
          <div class="col col-20 text-right"></div>
        </ion-item>
      </div> -->
	</ion-content>
	<ion-footer-bar class="bar bar-footer bar-stable">
      <!-- <div class="buttons">
        <button class="button" ng-click="$state.go('page2')">
        批量填报
        </button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="button" ng-click="$state.go('page15')">
        工时查看表
        </button>
      </div> -->
  </ion-footer-bar>
</ion-view>