<ion-view view-title="工时填报（批量）">
<ion-nav-bar class="bar bar-dark">
	<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="$state.go('page15')">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="submit()">
        提交
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
	<ion-content>
    <div class="list list-inset">
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
        </span>
        <input type="text" placeholder="黎明" style="padding-left: 3em"
        ng-model="batchHours.name" readonly="readonly">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder1">
        <span class="input-label fz20 bold">
        工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号
        </span>
        <input type="text" placeholder="6602220" style="padding-left: 3em" 
        ng-model="batchHours.ID" readonly="readonly">
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        开始日期
        </span>
        <input type="text" placeholder="2016年5月3日" style="padding-left: 3em" 
        ng-model="submitData.createDate1" ng-click="selectTime1()">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        开始时间
        </span>
        <input type="time" placeholder="8：30" style="padding-left: 3em" 
        ng-model="batchHours.start" onchange="checkTime()" time-input>
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        结束日期
        </span>
        <input type="text" placeholder="2016年5月10日" style="padding-left: 3em" 
        ng-model="submitData.createDate2" ng-click="selectTime2()">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        结束时间
        </span>
        <input type="time" placeholder="18：30" style="padding-left: 3em" 
        ng-model="batchHours.end" onchange="checkTime()" time-input>
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        工时类型
        </span>
        <input type="text" placeholder="出差" style="padding-left: 3em" 
        ng-model="batchHours.type">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        工时内容
        </span>
        <input type="text" placeholder="清洁" style="padding-left: 3em"
        ng-model="batchHours.content">
        <i class="icon ion-ios-arrow-right"></i>
      </label>
      <label class="item item-input noBorder btmBorder2">
        <span class="input-label fz20 bold">
        状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态
        </span>
        <input type="text" placeholder="审核中" style="padding-left: 3em"
        ng-model="batchHours.status">
      </label>
    </div>
      <!-- <div class="list padding-left padding-right">
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          姓<span style="margin-left: 2em">名</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.name}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工<span style="margin-left: 2em">号</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.ID}}</div>
          <div class="col col-20 text-right"></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          开始日期</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.startDate}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          开始时间</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.start}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          结束日期</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.endDate}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工时类型
          </div>
          <div class="col col-50 text-center color93">{{batchHours.type}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder btmBorder" style="line-height: 2.7em">
          <div class="col col-30 text-justify fz20 bold">
          工时内容
          </div>
          <div class="col col-50 text-center color93">{{batchHours.content}}</div>
          <div class="col col-20 text-right"><i class="icon ion-ios-arrow-right"></i></div>
        </ion-item>
        <ion-item class="row height4 noBorder" style="line-height: 2.7em;border-bottom: 2px solid #ebebeb">
          <div class="col col-30 text-justify fz20 bold">
          状<span style="margin-left: 2em">态</span>
          </div>
          <div class="col col-50 text-center color93">{{batchHours.status}}</div>
          <div class="col col-20 text-right"></div>
        </ion-item>
      </div> -->
	</ion-content>
	<ion-footer-bar class="bar bar-footer bar-stable">
	</ion-footer-bar>
</ion-view>