<ion-view view-title="已办流程">
<ion-nav-bar class="bar bar-dark">
	<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="$state.go('home')">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
	<ion-content>
    已办
	</ion-content>
  <ion-tabs class="tabs-stable tabs-icon-top">

      <ion-tab title="待办" icon="ion-ios-alarm-outline"
       ng-click="$state.go('page11')">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="发起" icon="ion-ios-compose-outline" ng-click="$state.go('page16')">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="已办" icon="ion-ios-paper" >
        <!-- Tab 3 content -->
      </ion-tab>

      <ion-tab title="我的流程" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ng-click="$state.go('page5')">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>

	
</ion-view>