<ion-view view-title="待办流程">
<ion-nav-bar class="bar bar-dark">
	<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="$state.go('home')">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
	<ion-content>
    <div class="bar item-input-inset bg-gray">
      <label class="item-input-wrapper bg-white">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="搜索">
      </label>
    </div>
    <div ng-repeat="todoPro in todoPros">
    <ion-item class="pt0 pb0">
      <div class="row"> 
        <div class="col col-50 fz16 fw600 padding-left">{{todoPro.title}}</div>
        <div class="col col-50 fz14 text-right colorBlue padding-right"></div>
      </div>
      <div class="row">
        <div class="col col-50 color93 fz14 padding-left">{{todoPro.instruction}}</div>
        <div class="col col-50"></div>
      </div>
      <div class="row">
        <div class="col col-30 padding-left">
          <i class="icon ion-person colorGreen fz24"></i>
          <span class="fw600 colorBlue fz14 ml5">{{todoPro.person}}</span>
        </div>
        <div class="col col-50 text-center">
          <i class="icon ion-clock colorOrange fz20"></i>
          <span class="fw600 colorBlue fz14 ml5">{{todoPro.time}}</span>
        </div>
        <div class="col col-20 text-right">
        <i class="icon ion-ios-list-outline" style="position: absolute;bottom: 3em"></i>
        </div>
      </div>
    </ion-item>
    </div>
    <!-- <ion-item class="pt0 pb0">
      <div class="row"> 
        <div class="col col-50 fz20 fw600 padding-left">请假申请流程-中间审批节点</div>
        <div class="col col-50 fz14 text-right colorBlue padding-right"></div>
      </div>
      <div class="row">
        <div class="col col-50 color93 fz14 padding-left">说明：1225|请假申请表</div>
        <div class="col col-50"></div>
      </div>
      <div class="row">
        <div class="col col-30 padding-left">
          <i class="icon ion-person colorGreen fz24"></i>
          <span class="fw600 colorBlue fz14 ml5">卢琳</span>
        </div>
        <div class="col col-50 text-center">
          <i class="icon ion-clock colorOrange fz20"></i>
          <span class="fw600 colorBlue fz14 ml5">半个月前到达</span>
        </div>
        <div class="col col-20 text-right">
        <i class="icon ion-ios-list-outline" style="position: absolute;bottom: 3em"></i>
        </div>
      </div>
    </ion-item> -->
    <div class="row text-center mt20">
      <div class="col fz16 colorBlue text-center">没有更多内容</div>
    </div>

	</ion-content>
  <ion-tabs class="tabs-stable tabs-icon-top">

      <ion-tab title="待办" icon-on="ion-ios-alarm" icon-off="ion-ios-alarm-outline">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="发起" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ng-click="$state.go('page16')">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="已办" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ng-click="$state.go('page17')">
        <!-- Tab 3 content -->
      </ion-tab>

      <ion-tab title="我的流程" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ng-click="$state.go('page5')">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>

	
</ion-view>