<ion-view view-title="鹤位查询">
  <ion-content>
    <div class="bar item-input-inset bg_search">
        <label class="item-input-wrapper bg-white">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索" >
        </label>
    </div>
    <div class="row text-center bg-thead thead-color">
    	<div class="col">成品名称</div>
    	<div class="col">鹤位</div>
    	<div class="col">已打单</div>
    	<div class="col">已入厂</div>
    	<div class="col">空闲鹤位</div>
    	<div class="col">鹤位总量</div>
    	<div class="col fs12">最早装车时间</div>
        <div class="col fs12">装车结束时间</div>
    	<div class="col">操作</div>
    </div>
    <div class="row text-center">
    	<div class="col pt2">
    	92#<br>车用汽油(V)
    	</div>
    	<div class="col height6 line-height6">118</div>
    	<div class="col height6 line-height6">4</div>
    	<div class="col height6 line-height6">1</div>
    	<div class="col height6 line-height6">1</div>
    	<div class="col height6 line-height6">1357.702</div>
    	<div class="col time-color pt2">16-04-18<br>17：26：21</div>
        <div class="col time-color pt2">16-04-18<br>11：15：54</div>
    	<div class="col height6 line-height6" ui-sref="cranes-2">
    	  <div class="height3 line-height3 border-r10 btn-cancel inline-block width5 white">
    		查看
    	  </div>
    	</div>
    </div>
    <div class="row text-center bg-even">
        <div class="col pt2">
        92#<br>车用汽油(V)
        </div>
        <div class="col height6 line-height6">118</div>
        <div class="col height6 line-height6">4</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1357.702</div>
        <div class="col time-color pt2">16-04-18<br>17：26：21</div>
        <div class="col time-color pt2">16-04-18<br>11：15：54</div>
        <div class="col height6 line-height6" ui-sref="cranes-2">
          <div class="height3 line-height3 border-r10 btn-cancel inline-block width5 white">
            查看
          </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col pt2">
        92#<br>车用汽油(V)
        </div>
        <div class="col height6 line-height6">118</div>
        <div class="col height6 line-height6">4</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1357.702</div>
        <div class="col time-color pt2">16-04-18<br>17：26：21</div>
        <div class="col time-color pt2">16-04-18<br>11：15：54</div>
        <div class="col height6 line-height6" ui-sref="cranes-2">
          <div class="height3 line-height3 border-r10 btn-cancel inline-block width5 white">
            查看
          </div>
        </div>
    </div>
    <div class="row text-center border-btm bg-even">
        <div class="col pt2">
        92#<br>车用汽油(V)
        </div>
        <div class="col height6 line-height6">118</div>
        <div class="col height6 line-height6">4</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">1357.702</div>
        <div class="col time-color pt2">16-04-18<br>17：26：21</div>
        <div class="col time-color pt2">16-04-18<br>11：15：54</div>
        <div class="col height6 line-height6" ui-sref="cranes-2">
          <div class="height3 line-height3 border-r10 btn-cancel inline-block width5 white">
            查看
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>