<ion-view view-title="鹤位：118">
  <ion-content>
    <div class="height4 line-height4">
    	<span class="fs16 fw800 ml1">北京市四季春加油站责任有限公司</span>
    </div>
    <div class="row text-center bg-thead thead-color">
    	<div class="col">产品名称</div>
    	<div class="col">鹤位</div>
    	<div class="col">车号</div>
    	<div class="col">车数</div>
    	<div class="col">提货量</div>
    	<div class="col">鹤位总量</div>
    	<div class="col">发油单号</div>
    </div>
    <div class="row text-center border-btm">
    	<div class="col height3 line-height3">93#车用汽油</div>
    	<div class="col height3 line-height3">道理石油沥青</div>
    	<div class="col height3 line-height3">辽L34387</div>
    	<div class="col height3 line-height3">3</div>
    	<div class="col height3 line-height3">提货量</div>
    	<div class="col height3 line-height3">鹤位总量</div>
    	<div class="col height3 line-height3 time-color">154231254751245</div>
    </div>
    <div class="row text-center border-btm bg-even">
        <div class="col height6">
            <div class="height3 line-height3 bg-1 inline-block width6 white mt1 border-r5 shadow1">
                15:12:34
            </div>
            <div>开单时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-2 inline-block width6 white mt1 border-r5 shadow2">
                15:12:34
            </div>
            <div>装车时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-3 inline-block width6 white mt1 border-r5 shadow3">
                15:12:34
            </div>
            <div>装车结束(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-4 inline-block width6 white mt1 border-r5 shadow4">
                15:12:34
            </div>
            <div>入场时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-5 inline-block width6 white mt1 border-r5 shadow5">
                15:12:34
            </div>
            <div>上磅时间(2016-4-18)</div>
        </div>
    </div>  
    <div class="height4 line-height4">
        <span class="fs16 fw800 ml1">北京市四季春加油站责任有限公司</span>
    </div>
    <div class="row text-center bg-thead thead-color">
        <div class="col">产品名称</div>
        <div class="col">鹤位</div>
        <div class="col">车号</div>
        <div class="col">车数</div>
        <div class="col">提货量</div>
        <div class="col">鹤位总量</div>
        <div class="col">发油单号</div>
    </div>
    <div class="row text-center border-btm">
        <div class="col height3 line-height3">93#车用汽油</div>
        <div class="col height3 line-height3">道理石油沥青</div>
        <div class="col height3 line-height3">辽L34387</div>
        <div class="col height3 line-height3">3</div>
        <div class="col height3 line-height3">提货量</div>
        <div class="col height3 line-height3">鹤位总量</div>
        <div class="col height3 line-height3 time-color">154231254751245</div>
    </div>
    <div class="row text-center border-btm bg-even">
        <div class="col height6">
            <div class="height3 line-height3 bg-1 inline-block width6 white mt1 border-r5 shadow1">
                15:12:34
            </div>
            <div>开单时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-2 inline-block width6 white mt1 border-r5 shadow2">
                15:12:34
            </div>
            <div>装车时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-3 inline-block width6 white mt1 border-r5 shadow3">
                15:12:34
            </div>
            <div>装车结束(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-4 inline-block width6 white mt1 border-r5 shadow4">
                15:12:34
            </div>
            <div>入场时间(2016-4-18)</div>
        </div>
        <div class="col height6">
            <div class="height3 line-height3 bg-5 inline-block width6 white mt1 border-r5 shadow5">
                15:12:34
            </div>
            <div>上磅时间(2016-4-18)</div>
        </div>
    </div>    
  </ion-content>
</ion-view>