<ion-view view-title="委托详情">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="remark()" style="color: white">
      备注
    </button>
    <button class="button button-clear" ng-click="correct()" style="color: white">
      纠错
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="height4 line-height4">
    	<span class="fs16 fw800 ml1">委托头信息</span>
    </div>
    <div class="row text-center bg-thead thead-color">
        <div class="col">客户名称</div>
        <div class="col">客户开票单位</div>
        <div class="col">委托编号</div>
        <div class="col">订单编号</div>
        <div class="col">委托开具时间</div>
        <div class="col">委托有效时间</div>
    </div>
    <div class="row text-center border-btm">
        <div class="col padding-top">
        山东惠民国胜金属有限公司
        </div>
        <div class="col padding-top">
        山东京博石化化工有限公司
        </div>
        <div class="col height3 line-height3">
        SH16040106
        </div>
        <div class="col height3 line-height3">
        WT603220064
        </div>
        <div class="col padding-top">
        16-04-18<br>17：26：21
        </div>
        <div class="col time-color padding-top">
        16-04-18<br>17：26：21
        </div>
    </div>
    <div class="height4 line-height4">
        <span class="fs16 fw800 ml1">产品信息</span>
    </div>
    <div class="row text-center bg-thead thead-color">
        <div class="col text-left line-height2">92号车用汽油</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row text-center border-btm">
        <div class="col height3 line-height3">
        数量
        </div>
        <div class="col height3 line-height3">
        车牌号
        </div>
        <div class="col height3 line-height3">
        司机名称
        </div>
        <div class="col height3 line-height3">
        身份证号
        </div>
        <div class="col height3 line-height3">
        手机号
        </div>
        <div class="col height3 line-height3">
        当日价格
        </div>
        <div class="col height3 line-height3">
        执行价格
        </div>
    </div>
    <div class="row text-center fs12">
        <div class="col height3 line-height3">
        90
        </div>
        <div class="col height3 line-height3">
        粤A55210
        </div>
        <div class="col height3 line-height3 ">
        王小锤
        </div>
        <div class="col height3 line-height3">
        411031052201523220
        </div>
        <div class="col height3 line-height3 ">
        13544875564
        </div>
        <div class="col height3 line-height3">
        2700
        </div>
        <div class="col height3 line-height3">
        2700
        </div>
    </div>
    <div class="row text-center height4 bg-even border-btm">
    备注:
    </div>
  </ion-content>
</ion-view>