<ion-view view-title="电子委托录入">
  <ion-content>
    <div class="bar item-input-inset bg_search">
        <label class="item-input-wrapper bg-white">
        	<i class="icon ion-ios-search placeholder-icon"></i>
        	<input type="search" placeholder="搜索" >
        </label>
    </div>
    <div class="row text-center bg-thead thead-color">
    	<div class="col pt1">序号</div>
    	<div class="col pt1">出具方式</div>
    	<div class="col pt1">委托编号</div>
    	<div class="col col-15 pt1">客户名称</div>
    	<div class="col col-15 pt1">开票单位</div>
    	<div class="col pt1">协议编号</div>
    	<div class="col">委托<br>开具时间</div>
        <div class="col">委托<br>有效时间</div>
    	<div class="col pt1">操作</div>
    </div>
    <div class="row text-center fs12">
    	<div class="col height6 line-height6">1</div>
    	<div class="col height6 line-height6">传真</div>
    	<div class="col height6 line-height6">WT603220064</div>
    	<div class="col height6 text-left col-15 pt1-6 ">
        张家港保税区朋荣国际贸易有限公司
    	</div>
    	<div class="col height6 text-left col-15 pt1-6">
        山东中油胜利石油销售有限公司
        </div>
    	<div class="col height6 line-height6">
    	SH16040106
    	</div>
    	<div class="col pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col time-color pt2">
        16-04-18<br>17：26：21
        </div>
    	<div class="col height6 line-height6" ui-sref="input-1">
    	  <div class="height3 line-height3 border-r10 bg-3 inline-block width5 white">
    		查询
    	  </div>
    	</div>
    </div>
    <div class="row text-center fs12 bg-even">
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">传真</div>
        <div class="col height6 line-height6">WT603220064</div>
        <div class="col height6 text-left  col-15 pt1-6">
        张家港保税区朋荣国际贸易有限公司
        </div>
        <div class="col height6 text-left  col-15 pt1-6">
        山东中油胜利石油销售有限公司
        </div>
        <div class="col height6 line-height6">
        SH16040106
        </div>
        <div class="col pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col time-color pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col height6 line-height6" ui-sref="input-1">
          <div class="height3 line-height3 border-r10 bg-3 inline-block width5 white">
            查询
          </div>
        </div>
    </div>
    <div class="row text-center fs12">
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">传真</div>
        <div class="col height6 line-height6">WT603220064</div>
        <div class="col height6 text-left col-15 pt1-6">
        张家港保税区朋荣国际贸易有限公司
        </div>
        <div class="col height6 text-left col-15 pt1-6">
        山东中油胜利石油销售有限公司
        </div>
        <div class="col height6 line-height6">
        SH16040106
        </div>
        <div class="col pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col time-color pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col height6 line-height6" ui-sref="input-1">
          <div class="height3 line-height3 border-r10 bg-3 inline-block width5 white">
            查询
          </div>
        </div>
    </div>
    <div class="row text-center fs12 bg-even">
        <div class="col height6 line-height6">1</div>
        <div class="col height6 line-height6">传真</div>
        <div class="col height6 line-height6">WT603220064</div>
        <div class="col height6 text-left col-15 pt1-6">
        张家港保税区朋荣国际贸易有限公司
        </div>
        <div class="col height6 text-left col-15 pt1-6">
        山东中油胜利石油销售有限公司
        </div>
        <div class="col height6 line-height6">
        SH16040106
        </div>
        <div class="col pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col time-color pt2">
        16-04-18<br>17：26：21
        </div>
        <div class="col height6 line-height6" ui-sref="input-1">
          <div class="height3 line-height3 border-r10 bg-3 inline-block width5 white">
            查询
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
