<ion-view view-title="订单详情"> 
  <ion-content>
    <div class="row">
        <div class="col col-20 bg-track2">
            <div class="list text-center mt1 ">
                <a class="item  no-border bg-track2" style="height: 75px">
                    <img src="img/default_avatar.png" class="orders-avatar ">
                </a>
                <a class="item fw600  no-border pt0 bg-track2">王二小</a>
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">车牌号</span>
            </div>
            <div class="text-left ml25">
            粤A&nbsp;12311
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">装载产品</span>
            </div>
            <div class="text-left ml25">
            0号普通柴油
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">身份证号</span>
            </div>
            <div class="text-left ml25">
            3410021315315311
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">手机号码</span>
            </div>
            <div class="text-left ml25">
            13544875542
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">装载数量</span>
            </div>
            <div class="text-left ml25">
            15
            </div>
        </div>
        <div class="col col-80">
            <div class="row height4 line-height4">
                <div class="col fs16 fw800 text-right">订单信息</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col text-right">客户名称:</div>
                <div class="col text-left">山东惠民国盛金属有限公司</div>
                <div class="col text-right">订单号:</div>
                <div class="col text-left">SH1604270172</div>
                <div class="col text-right">订单状态:</div>
                <div class="col text-left">待提货</div>
            </div>
            <div class="row">
                <div class="col text-right">来源：</div>
                <div class="col text-left">内部</div>
                <div class="col text-right">销售协议:</div>
                <div class="col text-left">SH16040172</div>
                <div class="col text-right">订单类型:</div>
                <div class="col text-left">零散订单</div>
            </div>
            <div class="row">
                <div class="col text-right">用户名：</div>
                <div class="col text-left">里大大</div>
                <div class="col text-right">联系电话:</div>
                <div class="col text-left">1355555555</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row text-center">
                <div class="col padding-top">创建订单时间</div>
                <div class="col">16-04-18<br>17：26：21</div>
                <div class="col padding-top">
                    <i class="icon ion-ios-alarm-outline inline-block orders-clock bg-clock">
                    </i>
                </div>
                <div class="col time-color">16-04-18<br>17：26：21</div>
                <div class="col time-color padding-top">提货截止时间</div>
            </div>
            <div class="pl2">
                <div class="bg-track2 mt1 height3 line-height3">备注：</div>
                <div class="border-btm height3"></div>
            </div>
            <div class="row height4 line-height4">
                <div class="col fs16 fw800 text-right">产品信息</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col text-right">产品名称:</div>
                <div class="col text-left">0号普通柴油</div>
                <div class="col text-right">产品编码:</div>
                <div class="col text-left">C01100074</div>
                <div class="col text-right">状态:</div>
                <div class="col text-left">已生效</div>
            </div>
            <div class="row">
                <div class="col text-right">提货数量:</div>
                <div class="col text-left">15</div>
                <div class="col text-right">已发数量:</div>
                <div class="col text-left">12</div>
                <div class="col text-right">协议单号:</div>
                <div class="col text-left">SH16040172</div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="height3 line-height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <span class="fw800">3333.99</span>
                    </div>
                    <div>当日零售单价</div>
                </div>
                <div class="col">
                    <div class="height3 line-height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <span class="fw800">2999.99</span>
                    </div>
                    <div>执行单价</div>
                </div>
                <div class="col">
                    <div class="height3 line-height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <span class="fw800">100.00</span>
                    </div>
                    <div>运费单价</div>
                </div>
                <div class="col">
                    <div class="height3 line-height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <span class="fw800">10000.00</span>
                    </div>
                    <div>销售全价格</div>
                </div>
            </div>
            <div class="pl2">
                <div class="bg-track2 mt1 height3 line-height3">备注：</div>
                <div class="border-btm height3"></div>
            </div>
        </div>
    </div>
    
  </ion-content>
</ion-view>