<ion-view view-title="车辆跟踪">
  <ion-content>
    <div class="bar item-input-inset bg_search">
        <label class="item-input-wrapper bg-white">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索" >
        </label>
    </div>
    <div class="row">
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="text-center border-track bg-track2">  
            <div class="height2 line-height2 bg-track1 inline-block width6 white mt1 border-r5 shadow-track1 text-center fs32 border-white">
                鲁WY8888
            </div>
            <div class="text-left ml10p mt1">
                <i class="icon ion-android-menu green-circle"></i>
                <span class="ml2px thead-color">发油单号</span>
            </div>
            <div class="text-left ml19p">
            603220064
            </div>
            <div class="text-left ml10p">
                <i class="icon ion-ios-person-outline yellow-circle"></i>
                <span class="ml2px thead-color">客户名称</span>
            </div>
            <div class="text-left ml19p">山东京博控股新能源发展有限公司
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-1 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>开单时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t2 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过皮时间</div>
                </div>    
            </div>
            <div class="row">    
                <div class="col">
                    <div class="height3 bg-t3 inline-block width6 white  border-r5 shadow1">
                    <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>过毛时间</div>
                </div>
                <div class="col">    
                    <div class="height3 bg-t4 inline-block width6 white  border-r5 shadow1">
                      <sub>2016-5-31</sub><br><span class="fw800">15：12：34</span>
                    </div>
                    <div>结算时间</div>
                </div>    
            </div>
          </div> 
        </div>
    </div>
  </ion-content>
</ion-view>