<ion-view>
    <ion-content id="bpm-detail-content" class="stable-bg vivo-detail-content" padding="true" ng-class="getContentBottom()" scroll="false">
        <div class="list card no-margin">
            <ion-item>
                <div class="list-vivo-title">
                    <span>【{{item.typeName}}】</span>
                    <span>{{item.Header_formSubTitle}}</span></div>
                <hr>
                <div class="list-vivo-control" ng-if="item">
                    <div class="row">
                        <div class="col col-70"><span>拟稿人：{{item.Header_CreateUserName}}</span><span>{{item.txt_FDocUnit_text}}</span></div>
                        <div class="col col-30 text-right">{{item.txt_FDocDate.substr(5,11)}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-70"><span>当前处理人：{{item.txt_FCurrentUser}}</span></div>
                        <div class="col col-30 text-right">{{item.txt_FDocCurrentStatus}}</div>
                    </div>
                    <div class="row">
                        <div class="col col-70"><span>版本号：{{item.txt_FVersion}}</span></div>
                    </div>
                </div>
            </ion-item>
        </div>
        <div class="list card">
            <ion-item class="item item-icon-right bpm-detail-blue"
                      ng-click="toggleMainText()">
                <i class="icon button-small " ng-class="isShowMainText ?'ion-ios-arrow-up':'ion-ios-arrow-down'"></i>
                正文
            </ion-item>
            <div class="bpm-detail-blue-bg vivo-maintext-div"></div>
        </div>
        <div class="list srm-Authentication-maintext" ng-show="isShowMainText">
            <div class="list card">
                <div class="item">
                    <div class="ViceText-div">
                        <div class="ViceText-scroll">
                            <table class="lineList">
                                <tr class="item-divider">
                                    <td>序号</td>
                                    <td>组件名称</td>
                                    <td>现象描述 </td>
                                    <td>样板类型</td>
                                    <td>限收数量/时间</td>
                                    <td>样板份数</td>
                                    <td>签样时间</td>
                                    <td>签样人</td>
                                    <td>失效日期</td>
                                    <td>借出班组</td>
                                    <td>更换班组</td>
                                    <td>联系人员</td>
                                    <td>联系号码</td>
                                </tr>
                                <tr ng-repeat="templine in item.lineList">
                                    <td>{{$index+1}}</td>
                                    <td>{{templine.FComponentName}}</td>
                                    <td>{{templine.FPhenomenonDesc}} </td>
                                    <td>{{templine.FModelType}}</td>
                                    <td>{{templine.FLimitNum}}</td>
                                    <td>{{templine.FModelNum}}</td>
                                    <td>{{templine.FSignSamplesTime.substr(0,10)}}</td>
                                    <td>{{templine.FSignSamplesPersonName}}</td>
                                    <td>{{templine.FFailureTime.substr(0,10)}}</td>
                                    <td>{{templine.FLendGroup}}</td>
                                    <td>{{templine.FChangeGroup}}</td>
                                    <td>{{templine.FContactPerson}}</td>
                                    <td>{{templine.FContactPhone}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
               <div class="item">
                    <div id="hidVontainer01" class="ViceText-div"></div>
                </div>
            </div>
            <div class="list card" ng-if="item.files.length>0">
                <div class="item title">
                    <span class="acttach-title-bg">&nbsp;</span><div>附件</div>
                </div>
                <div class="item item-attach" ng-repeat="fileLine in item.files">
                    <span class="attach-span"></span><span class="attach-span1">附件{{cnNumber[$index]}}：</span><a class="attach-span2" ng-click="clickAttach(fileLine)">{{fileLine.FAttachmentName}} (点击下载)</a>
                </div>
            </div>

            <div class="list card">
                <div class="item title">
                    <span class="positive-bg">&nbsp;</span><div>审批流程</div>
                </div>
                <ion-list class="vivo-audit-infor">
                    <div class="item">
                        <span>拟制:<span class="audit-user-span">{{item.txt_FAuthor_text}}</span></span>
                        <div>
                            {{item.txt_FAuthor_value2}}
                        </div>
                    </div>
                    <div class="item">
                        <span>审核:<span class="audit-user-span">{{item.txt_FManager_text}}</span></span>
                        <div>
                            {{item.txt_FManager_value2}}
                        </div>
                    </div>
                    <div class="item">
                        <span>批准:<span class="audit-user-span">{{item.txt_FCFGManager_text}}</span></span>
                        <div>
                            {{item.txt_FCFGManager_value2}}
                        </div>
                    </div>
                    <div class="item long-title">
                        <span>读者:<span class="audit-user-span">{{item.txt_FReaders_text}}</span></span>
                    </div>
                </ion-list>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar align-title="center" class="vivo-bpm-footer" ng-if="isTodo=='0'">
        <div class="vivo-bpm-footer-input" ng-if="isShowFooterInput">
            <div class="vivo-bpm-footer-input-bg">
                <textarea placeholder="请输入审批意见" ng-model="item.optionInput"></textarea>
            </div>
        </div>
        <a class="vivo_footer_btn1" ng-if="item.isShowOptionButton==1" ng-click="toggleFooterInput()"><span></span></a>
        <a class="vivo_footer_btn2" ng-if="item.isShowAgreeButton==1||item.isShowOptionButton==1" ng-click="clickAgree()"><span></span></a>
        <a class="vivo_footer_btn3" ng-if="item.isShowDisagreeButton==1||item.isShowOptionButton==1" ng-click="clickdisagree()"><span></span></a>
        <a class="vivo_footer_btn5" ng-if="item.isShowSubmitButton==1" ng-click="clickSubmit()"><span></span></a>
        <a class="vivo_footer_btn4" ng-click="clickToDispatch()"><span></span></a>
    </ion-footer-bar>
    <div class="btn-scroll-top" ng-click="scrollTop()" id="btn-scroll-top">
        <button class="button button-icon icon ion-arrow-up-a positive"></button>
    </div>
    <div class="btn-scroll-bottom" ng-click="scrollBottom()"  id="btn-scroll-bottom">
        <button class="button button-icon icon ion-arrow-down-a positive"></button>
    </div>
</ion-view>