
      <div class="list" style="margin-bottom: 0">
        <ion-item class="item-stable padding-top padding-bottom">
          <span style="font-size: 14px;font-weight: 600;padding-left: 4px">基础信息</span>
        </ion-item>
      </div>
      <div class="list padding-left" >
        <ion-item class="row" style="border: 0;border-bottom: 6px solid #e5e5e5;height:4em;line-height: 2.5em">
          <span class="col col-40 text-left" style="font-weight: 600">申请单位</span>
          <span class="col col-60 text-right">JT3033集团股份有限公司</span>
        </ion-item>
        <ion-item class="row" style="border: 0;border-bottom: 6px solid #e5e5e5;height:4em;line-height: 3.3em">
          <span class="col col-40 text-left" style="font-weight: 600">申请部门</span>
          <span class="col col-60 text-right">移动产品事业部</span>
        </ion-item>
        <ion-item class="row" style="border: 0;border-bottom: 6px solid #e5e5e5;height:4em;line-height: 3.3em">
          <span class="col col-40 text-left" style="font-weight: 600">申请部门负责人</span>
          <span class="col col-60 text-right">梁莫李</span>
        </ion-item>
        <ion-item class="row" style="border: 0;border-bottom: 6px solid #e5e5e5;height:4em;line-height: 3.3em">
          <span class="col col-40 text-left" style="font-weight: 600">申请人/直属上司</span>
          <span class="col col-60 text-right">魏天赐</span>
        </ion-item>
        <ion-item class="row" style="border: 0;border-bottom: 1px solid #e5e5e5;height:4em;line-height: 3.3em">
          <span class="col col-40 text-left" style="font-weight: 600">联系电话</span>
          <span class="col col-60 text-right">136524886</span>
        </ion-item>
      </div>
	  <div class="list" style="margin-bottom: 0;">
        <ion-item class="item-stable padding-top padding-bottom text-center" style="border: 0;border-top: 1px solid #e5e5e5">
          <span style="font-size: 14px;font-weight: 600;">点击查看明细</span>
        </ion-item>
      </div>
      <div style="background: #d9d9d9;height: 12em;/*border-top: 1px solid #a0a0a0*/">
      	<div style="margin:0 auto;width: 4em;height: 2em;border-radius:0 0 2em 2em;background: #f9f8f3;position: relative;z-index: 99">
      		<i class="icon ion-ios-arrow-down" style="font-size: 2em;color:#ababad;position: absolute;bottom: 0;left: 0.7em"></i>
      	</div>
      </div>
      <div style="height: 5em">
      	<div style="background: red;height: 3em;width:12em;margin: auto;margin-top: 1em;text-align: center;line-height: 3em;border-radius: 3em">
      		<a style="font-size: 16px;color: white">签字意见</a>
      	</div>
      </div>