
      <div style="height: 1em;background: #d9d9d9"></div>
      <div class="row">
        <div class="col col-10" style="border-bottom: 1px solid #dcdcdc;margin-left: -5px">
          
        </div>
        <div class="col col-90" style="border-bottom: 1px solid #dcdcdc;margin-left: 10px;height: 5em;line-height: 4em;">
          <p style="font-size: 20px;text-indent: 0.8em;color: #686868">JT3033费用报销流程</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-10" style="border-bottom: 1px solid #dcdcdc;margin-left: -5px">
          
        </div>
        <div class="col col-90" style="border-bottom: 1px solid #dcdcdc;margin-left: 10px;height: 10em">
          <div class="row" style="color: #56b4fa;" >
            <div class="col col-60">
              <span style="font-size: 20px;font-weight: 600">刘宝能</span>&nbsp;&nbsp;<span style="font-size: 12px">光大移动产品经理</span>
            </div>
            <div class="col col-40 text-right" style="line-height: 2em;">
              <span style="font-size: 12px;">2016-04-16&nbsp;&nbsp;02:15</span>
            </div>
          </div>
          <div style="margin-left: 0.8em;color: #93989c;font-size: 14px;position: relative;">
            <span style="display: inline-block;background: #e8f7fe;padding:10px;border-radius: 8px">同意报销，请财务及时转账</span>
            <div style="position: absolute;left:1em;top:-0.8em;width: 0;height: 0;border-bottom: 0.8em solid #e8f7fe;border-right: 0.4em solid transparent;border-left: 0.4em solid transparent;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-10" style="border-bottom: 1px solid #dcdcdc;margin-left: -5px">
          
        </div>
        <div class="col col-90" style="border-bottom: 1px solid #dcdcdc;margin-left: 10px;height: 10em">
          <div class="row" style="color: #56b4fa;" >
            <div class="col col-60 text-left">
              <span style="font-size: 20px;font-weight: 600">李达财</span>&nbsp;&nbsp;<span style="font-size: 12px">光大财务总监</span>
            </div>
            <div class="col col-40 text-right" style="line-height: 2em;">
              <span style="font-size: 12px;">2016-04-16&nbsp;&nbsp;11:10</span>
            </div>
          </div>
          <div style="margin-left: 0.8em;color: #93989c;font-size: 14px;position: relative;">
            <span style="display: inline-block;background: #e8f7fe;padding:10px;border-radius: 8px">项目进展顺利，阶段成果丰硕，准许报销，请出纳及时转账</span>
            <div style="position: absolute;left:1em;top:-0.8em;width: 0;height: 0;border-bottom: 0.8em solid #e8f7fe;border-right: 0.4em solid transparent;border-left: 0.4em solid transparent;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-10" style="border-bottom: 1px solid #dcdcdc;margin-left: -5px">
          
        </div>
        <div class="col col-90" style="border-bottom: 1px solid #dcdcdc;margin-left: 10px;height: 8em">
          <div class="row">
            <div class="col col-50 text-left">
              <span style="font-size: 20px;font-weight: 600;color: #575757">肖博丽</span>&nbsp;&nbsp;<span style="font-size: 12px;color: #b3b3b3">光大副总</span>
            </div>
            <div class="col col-50 text-right" style="line-height: 2em;">
              <span style="font-size: 12px;">&nbsp;&nbsp;</span>
            </div>
          </div>
          <div style="margin-left: 0.8em;color: #93989c;font-size: 14px;position: relative;">
            <span style="display: inline-block;background: white;padding:10px;border-radius: 8px"></span>
            <div style="position: absolute;left:1em;top:-0.8em;width: 0;height: 0;border-bottom: 0.8em solid white;border-right: 0.4em solid transparent;border-left: 0.4em solid transparent;"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-10" style="border-bottom: 1px solid #dcdcdc;margin-left: -5px">
          
        </div>
        <div class="col col-90" style="border-bottom: 1px solid #dcdcdc;margin-left: 10px;height: 8em">
          <div class="row">
            <div class="col col-50 text-left">
              <span style="font-size: 20px;font-weight: 600;color: #575757">文姗姗</span>&nbsp;&nbsp;<span style="font-size: 12px;color: #b3b3b3">出纳</span>
            </div>
            <div class="col col-50 text-right" style="line-height: 2em;">
              <span style="font-size: 12px;">&nbsp;&nbsp;</span>
            </div>
          </div>
          <div style="margin-left: 0.8em;color: #93989c;font-size: 14px;position: relative;">
            <span style="display: inline-block;background: white;padding:10px;border-radius: 8px"></span>
            <div style="position: absolute;left:1em;top:-0.8em;width: 0;height: 0;border-bottom: 0.8em solid white;border-right: 0.4em solid transparent;border-left: 0.4em solid transparent;"></div>
          </div>
        </div>
      </div>
    