<ion-view view-title="待办审批"> 	
	<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="">  
      </button>
    </ion-nav-buttons>
    <!-- <ion-nav-title>待办审批</ion-nav-title> -->
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-loop" ng-click="">
      </button>
    </ion-nav-buttons>
	<ion-content>
	  <ion-list>
	    <ion-item style="background: #d9d9d9;height: 4em">
		  <label class="item-input" style="position: relative;background: #ffffff;border-radius: 8px;margin-top: -0.45em;">
		    <i class="icon ion-search" style="position: absolute;left: 40%;top: 30%"></i>
		    <input type="search" placeholder="搜索" class="padding-left padding-right" style="height: 2em;"/>
		  </label>
		</ion-item>
		<ion-item class="row">
	      <div class="col col-20 text-center">
	      	<div style="margin-left:auto;margin-right:auto;margin-top:0.5em;border:1px solid;border-radius:2em;width:4em;height:4em;line-height:4em;background:#faa900;color:white">
	      	费用
	      	</div>
	      </div>
	      <div class="col col-80">
	      	<a class="item h1" ui-sref="sheet1" style="border: 0;border-bottom: 1px solid #bcbcbc;padding-top: 0.4em;padding-bottom: 0.6em"><span style="margin-left: -1em;margin-right: 1em">费用报销</span>JT3033集团费用报销流程</a>
	      	<p style="position: relative;height: 3em;margin-top: -0.5em;margin-bottom: 0.6em">
	      		<button style="position: absolute;bottom: 0;left: 0;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-person-outline">梁莫李</button>
	      		<button style="position: absolute;bottom: 0;left: 5.5em;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-people-outline">光大移动产品部</button>
	      		<span style="position: absolute;bottom: 0;right:1em">2016-04-15</span><i style="position: absolute;bottom: 0;right:0" class="icon ion-ios-arrow-down"></i>
	      	</p>
	      </div>
		</ion-item>
		<ion-item class="row">
	      <div class="col col-20 text-center">
	      	<div style="margin-left:auto;margin-right:auto;margin-top:0.5em;border:1px solid;border-radius:2em;width:4em;height:4em;line-height:4em;background:#57b4fa;color:white">
	      	设计
	      	</div>
	      </div>
	      <div class="col col-80">
	      	<a class="item h1" style="border: 0;border-bottom: 1px solid #bcbcbc;padding-top: 0.4em;padding-bottom: 0.6em"><span style="margin-left: -1em;margin-right: 1em">设计变更</span>DC0157设计变更审批流程</a>
	      	<p style="position: relative;height: 3em;margin-top: -0.5em;margin-bottom: 0.6em">
	      		<button style="position: absolute;bottom: 0;left: 0;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-person-outline">张子墨</button>
	      		<button style="position: absolute;bottom: 0;left: 5.5em;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-people-outline">地产开发设计部</button>
	      		<span style="position: absolute;bottom: 0;right:1em">2016-04-14</span><i style="position: absolute;bottom: 0;right:0" class="icon ion-ios-arrow-down"></i>
	      	</p>
	      </div>
		</ion-item>
		<ion-item class="row">
	      <div class="col col-20 text-center">
	      	<div style="margin-left:auto;margin-right:auto;margin-top:0.5em;border:1px solid;border-radius:2em;width:4em;height:4em;line-height:4em;background:#faa900;color:white">
	      	费用
	      	</div>
	      </div>
	      <div class="col col-80">
	      	<a class="item h1" style="border: 0;border-bottom: 1px solid #bcbcbc;padding-top: 0.4em;padding-bottom: 0.6em"><span style="margin-left: -1em;margin-right: 1em">费用报销</span>LQ4223集团费用报销流程</a>
	      	<p style="position: relative;height: 3em;margin-top: -0.5em;margin-bottom: 0.6em">
	      		<button style="position: absolute;bottom: 0;left: 0;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-person-outline">魏大海</button>
	      		<button style="position: absolute;bottom: 0;left: 5.5em;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-people-outline">光大移动UED部</button>
	      		<span style="position: absolute;bottom: 0;right:1em">2016-04-13</span><i style="position: absolute;bottom: 0;right:0" class="icon ion-ios-arrow-down"></i>
	      	</p>
	      </div>
		</ion-item>
		<ion-item class="row">
	      <div class="col col-20 text-center">
	      	<div style="margin-left:auto;margin-right:auto;margin-top:0.5em;border:1px solid;border-radius:2em;width:4em;height:4em;line-height:4em;background:#faa900;color:white">
	      	费用
	      	</div>
	      </div>
	      <div class="col col-80">
	      	<a class="item h1" style="border: 0;border-bottom: 1px solid #bcbcbc;padding-top: 0.4em;padding-bottom: 0.6em"><span style="margin-left: -1em;margin-right: 1em">费用报销</span>HK5323集团费用报销流程</a>
	      	<p style="position: relative;height: 3em;margin-top: -0.5em;margin-bottom: 0.6em">
	      		<button style="position: absolute;bottom: 0;left: 0;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-person-outline">刘庆云</button>
	      		<button style="position: absolute;bottom: 0;left: 5.5em;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-people-outline">光大地产事业部</button>
	      		<span style="position: absolute;bottom: 0;right:1em">2016-04-13</span><i style="position: absolute;bottom: 0;right:0" class="icon ion-ios-arrow-down"></i>
	      	</p>
	      </div>
		</ion-item>
		<ion-item class="row">
	      <div class="col col-20 text-center">
	      	<div style="margin-left:auto;margin-right:auto;margin-top:0.5em;border:1px solid;border-radius:2em;width:4em;height:4em;line-height:4em;background:#57b4fa;color:white">
	      	设计
	      	</div>
	      </div>
	      <div class="col col-80">
	      	<a class="item h1" style="border: 0;border-bottom: 1px solid #bcbcbc;padding-top: 0.4em;padding-bottom: 0.6em"><span style="margin-left: -1em;margin-right: 1em">设计变更</span>DC2536设计变更审批流程</a>
	      	<p style="position: relative;height: 3em;margin-top: -0.5em;margin-bottom: 0.6em">
	      		<button style="position: absolute;bottom: 0;left: 0;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-person-outline">李慧慧</button>
	      		<button style="position: absolute;bottom: 0;left: 5.5em;min-height: 20px;border-radius: 16px;padding: 0 6px 0 6px;line-height: 22px" class="button button-small icon-left ion-ios-people-outline">地产开发设计部</button>
	      		<span style="position: absolute;bottom: 0;right:1em">2016-04-14</span><i style="position: absolute;bottom: 0;right:0" class="icon ion-ios-arrow-down"></i>
	      	</p>
	      </div>
		</ion-item>
	  </ion-list>
	</ion-content>
	<ion-tabs class="tabs-stable tabs-icon-top">

		<ion-tab title="待办" icon="ion-ios-clock">
		    <!-- Tab 1 content -->
	    </ion-tab>

		<ion-tab title="发起" icon="ion-ios-compose-outline">
		    <!-- Tab 2 content -->
		</ion-tab>

	    <ion-tab title="已办" icon="ion-android-checkbox-outline">
		    <!-- Tab 3 content -->
	    </ion-tab>

	    <ion-tab title="我的" icon="ion-person">
	    <!-- Tab 4 content -->
	    </ion-tab>
</ion-tabs>
</ion-view>
