<ion-view  title="流程详细" id="auditType">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-thin-left" ng-click="back()"></button>
    </ion-nav-buttons>


<ion-content class="has-header">

    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">流程名称<div style="float: right;color: #323232;">{{data.PROCESSCHNAME}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">节点名称<div style="float: right;color: #323232;">{{data.ACTIVITYINSTNAME}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">流程描述<div style="float: right;color: #323232;">{{data.PROCESSINSTDESC}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">流程发起人<div style="float: right;color: #323232;">{{data.OPERATORNAME}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">流程状态<div style="float: right;color: #323232;">{{gWFStatus.getStatusDesc("businessstate", data.BUSINESSSTATE)}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">节点状态<div style="float: right;color: #323232;">{{gWFStatus.getStatusDesc("itemstate", data.CURRENTSTATE)}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">启动日期<div style="float: right;color: #323232;">{{data.STARTTIME}}</div></li>
    <li class="item" style="overflow: auto;text-overflow: clip;white-space: normal;color: #666666;font-size: 1.8rem;">完成日期<div style="float: right;color: #323232;">{{data.ENDTIME}}</div></li>

   <!------------------------解决手机上显示button问题----------------------->
    <div style="text-align: center;padding-top: 10;width: 100%;float:left;visibility:hidden;">
        <button class="button button-balanced" style="height: 18;width: 95%;" >
        </button>
    </div>
</ion-content>

</ion-view>
<div class="bar bar-footer" ng-show="isTodo" style="width: 100%;height: 49;  border-color: #b2b2b2;background-color: #f8f8f8;  padding: 0;">
    <div ng-if="html=='sb'" style="width:100%;text-align: center; "><!--驳回状态显示的模板-->
        <button class="ion-ios7-checkmark-outline " ng-click="Submit()" style="width:14.2rem;height: 100%; font-size: 3.5rem; border: none; background-color: rgb(248, 248, 248);  color: rgb(74, 135, 238);" >
            <div style="  font-size: 1.8rem;line-height: 186%;float: right;">提交</div>
        </button>
    </div>
    <div ng-if="html=='sp'" style="width:100%;text-align: center;">
        <div style="width:25%;text-align: center;  float: left; ">
            <button class="ion-ios7-checkmark-outline " ng-click="approval()" style="height: 100%; font-size: 2.7rem; border: none; background-color: rgb(248, 248, 248);  color: rgb(74, 135, 238);" ><div style="font-size:1.2rem;">审批</div></button>
        </div>
        <div style="width:25%;text-align: center;  float: left;">
            <button class="ion-ios7-close-outline" ng-click="reject()" style="height: 100%; font-size: 2.7rem; border: none ;background-color: rgb(248, 248, 248);color: rgb(255, 22, 22);" ><div style="font-size: 1.2rem;">驳回</div></button>
        </div>
        <div style="width:25%;text-align: center;  float: left;">
            <button class="ion-ios7-reload" ng-click="turnTodo()" style="height: 100%; font-size: 2.7rem;  border: none;background-color: rgb(248, 248, 248);  color: rgb(74, 135, 238);" ><div style="font-size:1.2rem;">转办</div></button>
        </div>
        <div style="width:25%;text-align: center;  float: left;">
            <button class="ion-ios7-chatboxes-outline " ng-click="communicate()" style="height: 100%; border: none;font-size: 2.7rem;  background-color: rgb(248, 248, 248);  color: rgb(74, 135, 238);" ><div style="font-size: 1.2rem;">沟通</div></button>
        </div>
    </div>
</div>

<!--
<ion-footer-bar style="height: 49;  border-color: #b2b2b2;background-color: #f8f8f8;  padding: 0;">

</ion-footer-bar>-->
