<ion-view>
    <ion-content id="bpm-detail-content" class="stable-bg vivo-detail-content" padding="true" ng-class="getContentBottom()" scroll="false">
        <div class="list card no-margin">
            <ion-item>
                <div class="list-vivo-title">
                    <span>【流程类型】</span>
                    <span>流程标题</span></div>
                <hr>
                <div class="list-vivo-control" ng-if="tagName1group1">
                    <div class="row" ng-repeat="item1group1 in tagName1group1">
                        <div class="col col-70"><span>{{item1group1.name}}</span></div>
                        <div class="col col-30 text-right">{{item1group1.value}}</div>
                    </div>
                </div>
            </ion-item>

        </div>
        <div class="list card">
            <ion-item class="item item-icon-right bpm-detail-blue"
                      ng-click="toggleMainText()">
                <i class="icon button-small " ng-class="isShowMainText ?'ion-ios-arrow-up':'ion-ios-arrow-down'"></i>
                正文
            </ion-item>
            <div class="bpm-detail-blue-bg vivo-maintext-div"></div>
        </div>
        <div class="list srm-Authentication-maintext" ng-show="isShowMainText">
            <div class="list card">
                <div class="item item-infor" ng-repeat="item1 in tagName1" >
                    <span>{{item1.name}}</span>
                    <div>{{item1.value}}</div>
                </div>
            </div>
            <div class="list card" ng-show="itemLineButton">
                <div>{{itemLineDisPlayName[0]}}</div>
                <div class="item" ng-repeat="it in itemLineDataDetail[0] track by $index">
                  <div>
                    <div id="hidVontainer" class="ViceText-div">
                        第{{($index+1)}}条，共{{itemLineDataDetail[parent_index].length}}条
                    </div>
                    <div class="item" ng-repeat="item in itemLineDataName[parent_index].displayName track by $index">
                    {{item}}：{{itemLineDataDetail[0][$parent.$index][itemLineDataName[parent_index].fieldName[$index]]}}
                    </div>
                  </div>
                </div>
            </div>

<!--  <div ng-show="itemLineButton" >

        <div>{{itemLineDisPlayName[0]}}</div>

        <div  ng-repeat="it in itemLineDataDetail[0] track by $index">
            <div>
                <div class="item">第{{($index+1)}}条，共{{itemLineDataDetail[parent_index].length}}条
                </div>

                <div class="item" ng-repeat="item in itemLineDataName[parent_index].displayName track by $index">
                    {{item}}：{{itemLineDataDetail[0][$parent.$index][itemLineDataName[parent_index].fieldName[$index]]}}
                </div>

            </div>
        </div>


    </div> -->

            <div class="list card" ng-if="item.files.length>0">
                <div class="item title">
                    <span class="acttach-title-bg">&nbsp;</span><div>附件</div>
                </div>
                <div class="item item-attach" ng-repeat="fileLine in item.attaches">
                    <span class="attach-span"></span><span class="attach-span1">附件{{cnNumber[$index]}}：</span><a class="attach-span2" ng-click="clickAttach(fileLine)">{{fileLine.fileName}} (点击下载)</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
