<div class="list inputList2">
    <div class="item">
        <div class="label">费用类型</div>
        <div class="valueWidthBorder"></div>
    </div>
    <div class="item">
        <div class="label">金额</div>
        <div class="valueWidthBorder"></div>
    </div>
    <div class="item">
        <div class="label">备注</div>
        <textarea class="valueWidthBorder" style="height: 100px"></textarea>
    </div>
    <div class="item" style="text-align: center">
        合计9999
    </div>
    <div class="item row">
        <div class="col-50">
            <button style="margin-right: 10px;float: right;" class="button button-stable button-positive">
                <i class="icon ion-ios-plus-outline"></i>
                <span>添加</span>
            </button>
        </div>
        <div class="col-50">
            <button style="margin-left: 10px" class="button button-stable   button-assertive">
                <i class="icon ion-ios-trash-outline"></i>
                <span>删除</span>
            </button>
        </div>
    </div>
</div>