body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:80px;
  width:390px;
  height:680px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:680px;
}
#u4 {
  position:absolute;
  left:2px;
  top:332px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:103px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:214px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:330px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:27px;
  top:105px;
  width:80px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:171px;
  top:119px;
  width:89px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:20px;
  top:155px;
  width:390px;
  height:53px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:270px;
  top:190px;
  width:101px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:210px;
  width:390px;
  height:53px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:217px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:247px;
  width:101px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:263px;
  width:390px;
  height:53px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:270px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:270px;
  top:300px;
  width:101px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:316px;
  width:390px;
  height:53px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:20px;
  top:320px;
  width:390px;
  height:42px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:42px;
}
#u33 {
  position:absolute;
  left:0px;
  top:12px;
  width:390px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:270px;
  top:351px;
  width:101px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:369px;
  width:390px;
  height:53px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u37 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:376px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:270px;
  top:406px;
  width:101px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:422px;
  width:390px;
  height:53px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:20px;
  top:429px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:270px;
  top:459px;
  width:101px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:475px;
  width:390px;
  height:53px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:20px;
  top:482px;
  width:390px;
  height:42px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:42px;
}
#u51 {
  position:absolute;
  left:0px;
  top:2px;
  width:390px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:270px;
  top:510px;
  width:101px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:528px;
  width:390px;
  height:53px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u55 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:535px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u57 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:270px;
  top:565px;
  width:101px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:581px;
  width:390px;
  height:53px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u61 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:20px;
  top:588px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u63 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:270px;
  top:618px;
  width:101px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:634px;
  width:390px;
  height:53px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:20px;
  top:641px;
  width:390px;
  height:42px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:42px;
}
#u69 {
  position:absolute;
  left:0px;
  top:2px;
  width:390px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:270px;
  top:669px;
  width:101px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:687px;
  width:390px;
  height:53px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u73 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:20px;
  top:694px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u75 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:270px;
  top:724px;
  width:101px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:20px;
  top:740px;
  width:390px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:20px;
  top:744px;
  width:390px;
  height:11px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9D9EA4;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:11px;
}
#u81 {
  position:absolute;
  left:0px;
  top:-2px;
  width:390px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:21px;
  top:163px;
  width:341px;
  height:27px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:27px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:337px;
  word-wrap:break-word;
}
