body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:80px;
  width:390px;
  height:680px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:680px;
}
#u4 {
  position:absolute;
  left:2px;
  top:332px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:103px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:214px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:330px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:27px;
  top:105px;
  width:80px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:149px;
  top:119px;
  width:133px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:30px;
  top:170px;
  width:80px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:210px;
  width:80px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:170px;
  width:80px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:170px;
  width:80px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:210px;
  top:170px;
  width:80px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:120px;
  top:210px;
  width:80px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:210px;
  top:210px;
  width:80px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:300px;
  top:210px;
  width:80px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:250px;
  width:370px;
  height:440px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:440px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:6px;
  top:5px;
  width:357px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:16px;
  top:14px;
  width:77px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:112px;
  top:68px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:6px;
  top:115px;
  width:357px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:16px;
  top:124px;
  width:77px;
  height:80px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u42 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:112px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:112px;
  top:178px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:6px;
  top:224px;
  width:357px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:16px;
  top:233px;
  width:77px;
  height:80px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:112px;
  top:233px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:112px;
  top:287px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:6px;
  top:332px;
  width:357px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:16px;
  top:341px;
  width:77px;
  height:80px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u58 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:112px;
  top:341px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:112px;
  top:395px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u30_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:440px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:6px;
  top:5px;
  width:357px;
  height:100px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:16px;
  top:14px;
  width:77px;
  height:80px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u66 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:112px;
  top:68px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:6px;
  top:115px;
  width:357px;
  height:100px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:100px;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:16px;
  top:124px;
  width:77px;
  height:80px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:80px;
}
#u74 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:112px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:112px;
  top:178px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
