<div>
    <ion-popover-view style="  height: 18%;width: 9%; top:5%;">
        <ion-content>
       <!--     <div class="list">
                <ion-item class="item" ng-click="approval()"style="padding: 4px;font: inherit">
                    审批
                </ion-item>
                <ion-item class="item" ng-click="reject()"style="padding: 4px;  color: white;  background-color: rgb(255, 45, 45);font: inherit">
                    驳回
                </ion-item>
                <ion-item class="item" ng-click="turnTodo()"style="padding: 4px;font: inherit">
                    转办
                </ion-item>
                <ion-item class="item" ng-click="communicate()"style="padding: 4px;font: inherit">
                    沟通
                </ion-item>

            </div>-->

            1111
        </ion-content>
    </ion-popover-view>
</div>
