body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:80px;
  width:390px;
  height:680px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:680px;
}
#u4 {
  position:absolute;
  left:2px;
  top:332px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:103px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:214px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:330px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:27px;
  top:105px;
  width:80px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:149px;
  top:119px;
  width:133px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:29px;
  top:170px;
  width:80px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:29px;
  top:210px;
  width:80px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:299px;
  top:170px;
  width:80px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:119px;
  top:170px;
  width:80px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:209px;
  top:170px;
  width:80px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:119px;
  top:210px;
  width:80px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:209px;
  top:210px;
  width:80px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:299px;
  top:210px;
  width:80px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:29px;
  top:250px;
  width:371px;
  height:440px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:440px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:3px;
  top:4px;
  width:179px;
  height:176px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u32 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:10px;
  width:163px;
  height:163px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u34 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:187px;
  top:4px;
  width:179px;
  height:176px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u36 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:195px;
  top:10px;
  width:163px;
  height:163px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u38 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:3px;
  top:187px;
  width:179px;
  height:176px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u40 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:11px;
  top:193px;
  width:163px;
  height:163px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u42 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:187px;
  top:187px;
  width:179px;
  height:176px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u44 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:195px;
  top:193px;
  width:163px;
  height:163px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u46 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:440px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:3px;
  top:4px;
  width:179px;
  height:176px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u48 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:11px;
  top:10px;
  width:163px;
  height:163px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u50 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:187px;
  top:4px;
  width:179px;
  height:176px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u52 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:195px;
  top:10px;
  width:163px;
  height:163px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u54 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:3px;
  top:187px;
  width:179px;
  height:176px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:176px;
}
#u56 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:11px;
  top:193px;
  width:163px;
  height:163px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:163px;
}
#u58 {
  position:absolute;
  left:2px;
  top:74px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
