body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:80px;
  width:390px;
  height:680px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:680px;
}
#u4 {
  position:absolute;
  left:2px;
  top:332px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:103px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:214px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:330px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#9D9EA4;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:27px;
  top:105px;
  width:80px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:171px;
  top:119px;
  width:89px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:20px;
  top:740px;
  width:390px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:744px;
  width:390px;
  height:11px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9D9EA4;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:11px;
}
#u17 {
  position:absolute;
  left:0px;
  top:-2px;
  width:390px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:18px;
  top:164px;
  width:192px;
  height:39px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:39px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:209px;
  top:164px;
  width:198px;
  height:39px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:39px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseDown {
}
#u20.mouseDown {
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:18px;
  top:203px;
  width:389px;
  height:497px;
  overflow:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:497px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:1px;
  top:0px;
  width:388px;
  height:53px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:53px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:250px;
  top:37px;
  width:101px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1px;
  top:53px;
  width:388px;
  height:53px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:53px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1px;
  top:60px;
  width:388px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:30px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:6px;
  width:388px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:250px;
  top:90px;
  width:101px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:106px;
  width:388px;
  height:53px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:53px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:113px;
  width:388px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:30px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:0px;
  top:6px;
  width:388px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:249px;
  top:143px;
  width:101px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:158px;
  width:388px;
  height:53px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:53px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:165px;
  width:388px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:30px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:0px;
  top:6px;
  width:388px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:249px;
  top:195px;
  width:101px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:0px;
  top:210px;
  width:388px;
  height:53px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:53px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:217px;
  width:388px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:30px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:0px;
  top:6px;
  width:388px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:249px;
  top:247px;
  width:101px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1px;
  top:6px;
  width:340px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u22_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:497px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:250px;
  top:37px;
  width:101px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:53px;
  width:390px;
  height:53px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:60px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:250px;
  top:90px;
  width:101px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:106px;
  width:390px;
  height:53px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:113px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u66 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:250px;
  top:143px;
  width:101px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:0px;
  top:159px;
  width:390px;
  height:53px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:166px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u72 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:250px;
  top:196px;
  width:101px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:212px;
  width:390px;
  height:53px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u76 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:219px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u78 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:250px;
  top:249px;
  width:101px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:0px;
  top:265px;
  width:390px;
  height:53px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:53px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:272px;
  width:390px;
  height:30px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
}
#u84 {
  position:absolute;
  left:0px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:250px;
  top:302px;
  width:101px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:9px;
  width:351px;
  height:27px;
  font-family:'Noto Sans S Chinese Bold', 'Noto Sans S Chinese';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:347px;
  word-wrap:break-word;
}
