body{
    font-family: "Microsoft YaHei";
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top: 0px;
}
#bpm-detail-content .item{
    padding: 10px;
}
.bar-header{
    padding: 0;
}
.vivo-bpm-footer {
    height: 56px;
    border: none;
    border-top: 1px solid #ddd !important;
}
.sie-select-header{
    background-color: #E4E4E4;
}
.sie-select-header .ion-ios-search{
    padding: 0 8px;
    font-size: 22px;
}
.sie-select-header .ion-close-circled{
    padding: 0 5px 0 0;
    color: #CCCBCB;
}
.sie-select-header .ion-close-circled:before{
    font-size: 22px !important;
}
.bar-header .buttons{
    top: 0 !important;
    bottom: 0 !important;
}
.bar .title {
    font-size: 21px !important;
    right: 70px;
    left: 70px;
    font-family: SimHei;
    letter-spacing: 0.8px;
}
.content-vivo-list{
    /*top: 108px;*/
    /*padding-top: 15px;*/
    bottom: 58px;
}
.list-vivo-title{
    white-space: normal;
    line-height: 20px;
}
.list-vivo-title span:first-child,.list-vivo-control .row, .list-vivo-control .col{
    font-size: 0.7rem;
    color: #A1A4A7;
}
.list-vivo-title span:last-child{
    font-size: 0.8rem;
    font-weight: inherit;
    color: rgba(122, 120, 120, 1);
    letter-spacing: 0.5px;
    font-weight: bold;
}
.tab-item .icon{
    width: 25px;
    height: 28px;
}
.tab-item .icon:before{
    content: "";
    display: block;
    width: 25px;
    height: 22.5px;
    background-size: 25px 22.5px;
    overflow: hidden;
}


.vivo-list-item{
    padding:10px 4%;
}
.vivo-attach{
    margin-top: -1px;
    -webkit-transform: rotate(55deg);
    line-height: 0;
    min-height: 0;
}
.list-vivo-control{
    line-height: 1.5;
    font-size: 0.8rem;
    color: darkgrey;
}
.list-vivo-control .col{
    padding: 0;
}
.list-vivo-control .row{
    padding: 5px;
    margin-top: 0;
}
.list-vivo-control .row:last-child{
    padding-bottom: 0px;
}
.vivo-bpm-list-status{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 18%;
}
/*.list-vivo-attach{
    padding: 0;
   *//* position: absolute;
    left: 4%;
    bottom:16px;
    width: 5%;
    height: 15%;*//*
}*/

.list-vivo-control .padding-left{
    padding-left: 8%;
}
.list-vivo-control .padding-right{
    padding-right:18%;
}
.list-vivo-fold-btn{
    height: 1rem;
    line-height: 1rem;
    text-align: right;
    padding: 0;
    width: 10%;
}
.list-vivo-fold-btn img{
    height: 0.5rem;
}
.list-vivo-attach span{
    margin-top: -3px;
}

.list-vivo-bar-btn{
    display: list-item;
    height: 44px;
    border: none;
}
.vivo-maintext-div{
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    z-index: 2;
}

.list-vivo-time-span{
    float: left;
    width: 50%;
}

.vivo-bpm-footer .vivo_footer_btn1,
.vivo-bpm-footer .vivo_footer_btn2,
.vivo-bpm-footer .vivo_footer_btn3,
.vivo-bpm-footer .vivo_footer_btn5,
.vivo-bpm-footer .vivo_footer_btn4{
    height: 100%;
    overflow: hidden;
    border: none;
    display: block;
    margin: 0;
}
/*.vivo-bpm-footer{
    height: 55px;
    padding: 0% 3%;
    background-color: rgba(231, 229, 228, 1);
}*/
.vivo_footer_btn1{
    width: 16%;
    padding-left: 1%;
}

.vivo_footer_btn2,.vivo_footer_btn3,.vivo_footer_btn4,.vivo_footer_btn5{
    width: 28%;
}
.vivo_footer_btn1 span,
.vivo_footer_btn2 span,
.vivo_footer_btn3 span,
.vivo_footer_btn5 span,
.vivo_footer_btn4 span{
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
}

.vivo-bpm-footer-input{
    background-color: white;
    bottom: 45px;
    height: 100px;
    left: 0;
    width: 100%;
    position: absolute;
    padding: 8px 5px 0 5px;
    border-top-style: groove !important;
    border-top-color: rgba(223, 223, 223, 0.26) !important;
    border-top-width: 1px !important;
}
.vivo-bpm-footer-input-bg{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px;
}
.vivo-bpm-footer-input-bg textarea{
    font-size: 1rem;
    width: 100%;
    height: 90%;
}
.vivo-query-input-div{
    padding: 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.vivo-query-input-div .item-input-wrapper{
    background: #FFFFFF;
    height: 28px;
    width: 80%;
    margin-left: 15px;
    border-radius: 5px;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(193, 192, 192, 0.25);
    padding: 0;
}

.vivo-query-input-div input{
    font-size: 15px;
    padding-top: 0px;
    line-height: 30px;
    height: 30px;
    padding-right: 5px;
}
.sie-select-header .btn-search{
    margin: 0;
    font-size: 15px !important;
    width: 15%;
}
.vivo-detail-content.has-footer{
    bottom:55px;
}
.vivo-detail-content.has-footer1{
    bottom:147px;
}
.vivo-detail-content{
    overflow-y: auto;
    -webkit-overflow-scrolling:touch ;
}

.srm-buyer-maintext,.vivo-audit-infor,.srm-Authentication-maintext{
    padding: 0;
}
.srm-buyer-maintext .item{
    background-color: rgb(236, 236, 236);
}
.srm-buyer-maintext .item,
.vivo-audit-infor .item,
.srm-Authentication-maintext .item-infor{
    font-size: 0.7rem;
    white-space: normal;
}

.vivo-audit-infor .item>span,
.srm-buyer-maintext .item>span,
.srm-Authentication-maintext .item-infor>span{
    float: left;
}
.vivo-audit-infor .item>span{
    width: 35%;
}

.srm-buyer-maintext a.button,.srm-Authentication-maintext a.button{
    line-height: inherit;
    min-height: 0;
    font-size: 0.5rem;
    border: none;
}
.srm-buyer-maintext .item>div,
.srm-Authentication-maintext .item-infor>div,
.srm-Authentication-maintext .item-infor>span,
.vivo-audit-infor .item>div,
.vivo-audit-infor .item>span{
    color: #757474;
}
.srm-buyer-maintext .item>div{
    float: right;
    max-width: 80%;
}
.vivo-audit-infor .item>div{
    float: left;
    width: 65%;
}
.srm-Authentication-maintext .item-infor>div{
    float: right;
    max-width: 62%;
}
.srm-Authentication-maintext .title span{
    width: 5px;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.srm-Authentication-maintext .title>div{
    font-size: 16px;
    line-height: 1.2;
}
.list-vivo-control .col-70 span:first-child{
    margin-right: 20px;
}
.list-vivo-control .row{
    border-bottom: dotted 1px rgb(214, 211, 211);
}
.list-vivo-control .row:last-child{
    border-bottom:none;
}
.no-padding{
    padding: 0;
}
.vivo-srm-list-item .row{
    padding:0;
}
.vivo-srm-list-item .long-col{
    padding-left: 0;
    padding-right: 0;
}
.vivo-srm-list-item .col{
    white-space: normal;
    font-size: 0.6rem;
    color: #b2b2b2;
}
.item-divider.vivo-srm-list-item{
    background-color: rgb(230, 225, 225);
}
.col-30{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.col-70{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.srm-item-yline{
    width: 2px;
    height: 100%;
    margin-right: 3px;
    margin-left: 3px;
}
.content-vivo-list .card:not(.list-vivo-expand){
    margin: 3px 6px !important;
}
.list:last-child.card {
     margin-bottom:auto;
}
.content-vivo-list .card,.vivo-detail-content .card{
    text-shadow: none;
    box-shadow: none;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
    border-radius: 5px;
    padding-bottom: 0;
    margin: 10px 0px;
}
.no-margin{
    margin: 0 !important;
}
.vivo-detail-content hr{
    border: none;
    border-top: solid 1px rgb(204, 204, 204);
    margin-bottom: 0;
}
.readedColor{
    color: rgb(193, 191, 191);
}
.vivo-audit-infor,.srm-Authentication-maintext,.srm-Authentication-maintext .card{
    margin-top: 0px;
    margin-bottom: 12px !important;
}
.todoCount-div,.readDataCount-div{
    z-index: 100;
    position: absolute;
    bottom: 36px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: red;
    color: white;
    text-align: center;
    font-size: 0.5rem;
}
.todoCount-div1{
    left: 51%;
}
.readDataCount-div1{
    right: 43%;
}
.todoCount-div2{
    left: 31%;
}
.readDataCount-div2{
    right: 23%;
}
.todoCount-div3{
    left: 18%;
}
.readDataCount-div3{
    right: 10%;
}
.todoCount-div4{
    left: 14%;
}
.readDataCount-div4{
    right: 6%;
}
.todoCount-div5{
    left: 11%;
}
.readDataCount-div5{
    right: 3%;
}
.vivo-list-item hr{
    border-bottom: none;
    border-top: 1px;
    border-top-style: inset;
    border-top-color: rgba(230, 231, 228, 0.15);
    border-left: none;
    border-right: none;
}
.stable-bg {
    background-color: #F5F5F5;
}
.bar.bar-dark {
        background-color: rgba(35, 39, 36, 0.92);
}
.vivo-list-nodata{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 179px;
    font-size: 30px;
    color: rgb(230, 228, 228);
    text-shadow: rgba(255, 255, 255, 0.57) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    letter-spacing: 0.04em;
}
.query-content .vivo-list-nodata{
    top: 178px;
    height: 100%;
}
/*.content-vivo-list-main{
    padding-top: 15px;
}*/
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 15px;
    font-family: SimHei;
}
.query-content{
    font-family: SimHei;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.confirm-option-div{
    padding: 0 10px 30px 10px;
}
.confirm-option-span{
    color: cadetblue;
}
.bpm-detail-scroll{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    padding: 10px 10px 30px 10px;
}
.ViceText-div td{
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}
.detail-edit-button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.acttach-title-bg{
    background-color: #ff5f0d;
}

.attach-span1{
    color: #f09a05;
}
.attach-span2,.audit-user-span{
    text-decoration: underline;
    color: #008cd6;
}
.bpm-detail-blue{
    color: #008cd6;
    font-size: 16px;
}
.bpm-detail-blue-bg{
    background-color: #008cd6;
}
.detail-line-span{
    display: block;
    width: 1px;
    height: 14px;
    border-left: inset rgba(220, 220, 220, 0.5) 1px;
    margin: 3px 5px;
}
.attach-span2,.audit-user-span{
    margin: 0 3px;
}
.vivo-audit-infor .list{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #A5A5A5;
}
.update-ViceText-div{
    min-height: 35px;
}
.vivo-audit-infor .long-title>span{
    width: 100%;
    margin-bottom: 3px;
}
.vivo-audit-infor .long-title>div,.font14 .long-title>div{
    width: 100%;
    padding-left: 10px;
}
.font14 .long-title>span{
    color: #ABABAB;
}
.vivo-srm-list-item .col-10{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    padding-left: 0;
    padding-right: 0;
}
.ViceText-div{
    width: 100%;
    min-height: 35px;
    padding: 0px;
    /*width: 100%;*/
}
.ViceText-scroll{
    overflow-x: scroll;
    width: 100%;
}
.ViceText-div>div{
    width: auto;
}
.ViceText-div img{
    max-width: 100% !important;
    height: auto !important;
}
.ViceText-div p,.ViceText-div h1,.ViceText-div h2,.ViceText-div h3{
    white-space: normal;
}
.btn-scroll-top,.btn-scroll-bottom{
    position: absolute;
    right: 5px;
    z-index: 111;
    display:none
}
.btn-scroll-top{
    bottom: 100px;
}
.btn-scroll-bottom{
    bottom: 100px;
}
.ion-arrow-up-a:before{
    content: "";
    width: 44px !important;
    height: 44px;
    background-size: 100%;
    margin-top: 13px;
    background-image: url("../img/icon_top.png");
}
.ion-arrow-down-a:before{
    content: "";
    width: 44px !important;
    height: 44px;
    background-size: 100%;
    margin-top: 13px;
    background-image: url("../img/icon_bottom.png");
}
.text-white-space{
    white-space: normal !important;
}
.font14{
    font-size: 14px;
}
.font14 .long-title{
    font-size: 14px;
}
.long-title a{
    float: right;
}
.long-title a:before{
    font-size: 25px !important;
}
.selectTdClass {
    BACKGROUND-COLOR: #edf5fa
}
TABLE.noBorderTable TD {
    BORDER-BOTTOM: #ddd 1px dashed; BORDER-LEFT: #ddd 1px dashed; BORDER-TOP: #ddd 1px dashed; BORDER-RIGHT: #ddd 1px dashed
}
TABLE.noBorderTable TH {
    BORDER-BOTTOM: #ddd 1px dashed; BORDER-LEFT: #ddd 1px dashed; BORDER-TOP: #ddd 1px dashed; BORDER-RIGHT: #ddd 1px dashed
}
TABLE.noBorderTable CAPTION {
    BORDER-BOTTOM: #ddd 1px dashed; BORDER-LEFT: #ddd 1px dashed; BORDER-TOP: #ddd 1px dashed; BORDER-RIGHT: #ddd 1px dashed
}
TABLE {
    DISPLAY: table; BORDER-COLLAPSE: collapse; MARGIN-BOTTOM: 10px
}
TD {
    BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}
TH {
    BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}
CAPTION {
    BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px dashed; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px dashed; BORDER-RIGHT: #ddd 1px dashed; PADDING-TOP: 3px
}
TH {
    BACKGROUND-COLOR: rgb(247,247,247); BORDER-TOP: #bbb 1px solid
}
TABLE TR.firstRow TH {
    BORDER-TOP-WIDTH: 2px
}
.ue-table-interlace-color-single {
    BACKGROUND-COLOR: #fcfcfc
}
.ue-table-interlace-color-double {
    BACKGROUND-COLOR: #f7faff
}
TD P {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#hidQCHtmlContext{
    padding: 0;
}
#hidQCHtmlContext table{
    margin: 0;
}
#hidQCHtmlContext td:first-child{
    border-left: none;
}
#hidQCHtmlContext td:last-child{
    border-right: none;
    vertical-align: middle;
    padding: 0;
    text-align: center !important;
}
#hidQCHtmlContext tr:first-child td{
    border-top: none;
}
#hidQCHtmlContext td{
    border-bottom: none;
}
#hidQCHtmlContext input{
    opacity: 0.5;
}
.padding-rigth-50{
    padding-right: 50px !important;
}
.query-content .item{
    background: none;
    line-height: 40px;
}
.query-content .icon{
    font-size: 23px;
}
.query-content .ion-ios-circle-outline{
    color: #D0D0D0;
}
.query-content .ion-ios-checkmark{
    color: #308dff;
}
.query-content.has-footer{
    bottom:60px;
}
.sie-select-footer{
    height: 59px;
    padding: 0;
    border: none;
}
.sie-select-footer .row{
    padding: 0;
}
.sie-select-footer .list{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
}
.sie-select-footer .item{
    width: 60px;
    height: 100%;
    text-align: center;
    border: none;
    padding: 5px 8px;
    float: left;
}
.sie-select-footer .col-75{
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    padding:8px;
    margin-bottom: -8px;
}
.sie-select-footer .col-75 .activated{
    background: none;
}
.sie-select-footer .col-75 .activated img{
    opacity: 0.5;
}
.sie-select-footer .col-75 .activated p{
    color: #c2c2c2;
}
.sie-select-footer .col-75 img{
    width: 25px;
    height: 25px;
}
.sie-select-footer .col-75 p{
    font-size: 10px;
    margin-top: -5px;
}
.sie-select-footer .col-75  .icon{
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #CDCED0;
}
.sie-select-footer .col-25{
    padding-top: 0;
    padding-bottom: 0;
    border-left: double 1px black;
    text-align: center;
    margin-left: 3%;
    width: 22%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 22%;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

.sie-select-footer .col-25 h2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}
.sie-select-footer .activated h2{
    color: #c2c2c2;
}
.sie-select-footer .col-25 span{
    font-size: 12px;
}
.sie-select-footer .activated span{
    color: #c2c2c2;
}
.select-spinner{
    width: 100%;
    text-align: center;
}
#spinnerDiv{
    position: absolute;
    top: 35px;
}
#spinnerDiv2{
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}
.query-content .list{
    margin: 0;
}
.no-more{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(230, 228, 228) !important;
    text-shadow: rgba(255, 255, 255, 0.57) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    letter-spacing: 0.04em;
    border: none;
}
.lineList td{
    padding: 5px 15px;
    font-size: 14px;
    color: #757474;
    text-align: center;
}
.smzzfg-line .col{
    font-size: 14px;
}