<ion-view>
    <ion-content>

        <ion-refresher pulling-text="下拉刷新" on-refresh="getExProducts(true)"></ion-refresher>

        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="product in exProducts">
                <img ng-src="{{product.ShopItemMainlPic[0].PicUrl}}">

                <h2>{{product.ItemName}}</h2>

                <p style="color: #ef473a">积分:{{product.Price | number:0}}</p>

                <p>市场价:￥{{product.MktPrice | number:2}}</p>
            </a>
        </div>

        <ion-infinite-scroll on-infinite="getExProducts(false)" distance="10%"
                             ng-if="canLoadMore"></ion-infinite-scroll>

        <loading-toast ng-show="showLoading"></loading-toast>

    </ion-content>
</ion-view>