<!--  add 2016.6.16 Q
 -->
<ion-view class="stable-bg">
 <!--  <ion-nav-buttons side="left">
    <button class="button" ng-click="doSomething()">
    <i class="icon "></i>
    </button>
  </ion-nav-buttons> -->
  <ion-content>
	<div class="padding-left">  
	  <div class="row fs2rem fw900 mt2rem">
	  	演示账号
	  </div>
	  <div class="row mb1rem">
	  	山东京博新能源控股发展有限公司
	  </div>
	  <div class="row">
	  	<div class="button  button-outline button-positive">
	  		解除绑定
	  	</div>
	  </div>
	</div>
  </ion-content>
</ion-view>